{%assign var="jses" value=['bootstrap-paginator.min','jquery.query']%}
{%assign var="modal_body" value='user/user_edit.html'%}
{%assign var="modals" value=['show','confirm','form']%}
{%include file="public/header.html"%}
{%include file="public/left.html"%}
{%include file="public/page_title.html"%}
<link rel="stylesheet" href="{%$RIA_URL%}js/datatables/dataTables.bootstrap.css">
<div class="row">
    <div class="col-sm-12 panel" style="padding: 10px;">
        <div class="panel-body">
            <form role="form" method="post" id="list-search" class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{%$LANG.USERNAME%}" name="search[username]">
                </div>
                <div class="input-group">
                    {%$group_search%}
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-purple">{%$LANG.SEARCH%}</button>
                </div>
                <div class="input-group" style="float: right;">
                    <button type="button" class="btn btn-secondary" onclick="showFormModal('{%$LANG.ADD%}', {}, fillAdd)"><i class="fa-plus"></i> {%$LANG.ADD%}</button>
                </div>
            </form>

        </div>
        <div class="panel-body dataTables_wrapper">
            <form method="post" name="form_data" id="form_data" >
            <table class="table table-bordered table-striped dataTable" id="table_list">
                <thead>
                    <tr>
                        <th class="col-cb" style="width:5px;"><input type="checkbox" class="cbr" /></th>
                        <th class="sorting sorting_desc" data-field="uid" style="width: 40px;">{%$LANG.UID%}</th>
                        <th>{%$LANG.USERNAME%}</th>
                        <th>{%$LANG.GROUP_NAME%}</th>
                        <th>{%$LANG.PARENT%}</th>
                        <th class="sorting" data-field="user_cash">{%$LANG.USER_CASH%}</th>
                        <th class="sorting" data-field="login_time">{%$LANG.LOGIN_TIME%}</th>
                        <th>{%$LANG.STATUS%}</th>
                        <th>{%$LANG.ACTIONS%}</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="col-cb">
                            <input type="checkbox" class="cbr" />
                        </th>
                        <th colspan="10" class="col-header-options">
                            <a class="btn btn-success btn-sm btn-icon icon-left" href="javascript:void(0);" onclick="enables()"><i class="fa-unlock"></i> {%$LANG.ENABLE%}</a>
                            <a class="btn btn-warning btn-sm btn-icon icon-left" href="javascript:void(0);" onclick="disables()"><i class="fa-lock"></i> {%$LANG.DISABLE%}</a>
                            <a class="btn btn-danger btn-sm btn-icon icon-left"  href="javascript:void(0);" onclick="deletes()"><i class="fa-remove"></i> {%$LANG.DELETE%}</a>
                        </th>
                    </tr>
                </tfoot>
                <tbody class="middle-align" id="table_body">
                </tbody>
            </table>
            </form>
            <div class="row"><div class="col-xs-12"><ul id="pages"></ul></div></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var gparams = {%$params|json_encode%};
</script>
<script type="text/javascript">
    function main_page(newPage, reload){
        gparams['page']  = newPage;
        var params = gparams;
        params['rt']    = 'api';
        params['do']    = 1;


        var url = '{%$__URI__%}'+$.query.sets(params).toString();

        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'json',
            success: function(resp){
                if(resp.status.code === $SCOPES.$status.SUCC){
                    show_list(resp.data.list);
                    if(reload){
                        show_page(resp.data.page,resp.data.total_page);
                    }
                }
            }
        });
    }

    function enables(){
        var msg = '{%$LANG.ENABLE%}';
        if(!confirm('{%$LANG.CONFIRM%}'+msg)){
            return false;
        }
        var  ids = $('#form_data').serializeArray();
        $.ajax({
            dataType: "json",
            type:'POST',
            url: "{%U('enable')%}",
            data:ids,
            success: function(json){
                alert(msg+','+json.status.msg);
                if(json.status.code === $SCOPES.$status.SUCC){
                    main_page(gparams['page'],true);
                }
            }
        });
    }


    function deletes(){
        var msg = '{%$LANG.DELETE%}';
        if(!confirm('{%$LANG.CONFIRM%}'+msg)){
            return false;
        }
        var  ids = $('#form_data').serializeArray();
        $.ajax({
            dataType: "json",
            type:'POST',
            url: "{%U('delete')%}",
            data:ids,
            success: function(json){
                alert(msg+','+json.status.msg);
                if(json.status.code === $SCOPES.$status.SUCC){
                    main_page(gparams['page'],true);
                }
            }
        });
    }

    function disables(){
        var msg = '{%$LANG.DISABLE%}';
        if(!confirm('{%$LANG.CONFIRM%}'+msg)){
            return false;
        }
        var  ids = $('#form_data').serializeArray();
        if(ids.length<=0){
            alert(msg+','+json.status.msg);
            return false;
        }

        $.ajax({
            dataType: "json",
            type:'POST',
            url: "{%U('disable')%}",
            data:ids,
            success: function(json){
                alert(msg+','+json.status.msg);
                if(json.status.code === $SCOPES.$status.SUCC){
                    main_page(gparams['page'],true);
                }
            }
        });
    }

    function show_page(currentPage,totalPages){
        if(totalPages<=0)
            totalPages = 1;
        var options = {
            bootstrapMajorVersion:3,
            alignment:'right',
            currentPage: currentPage,
            numberOfPages: 5,
            totalPages:totalPages,
            onPageChanged: function(event, oldPage, newPage){
                main_page(newPage);
            }

        }
        $('#pages').bootstrapPaginator(options);
    }
    function show_list(list){
        var str = '';
        var len = list.length;
        var show_url        = "{%U('show',      'User','user')%}?rt=api&id=";
        var edit_url        = "{%U('edit',      'User','user')%}?rt=api&id=";
        var editInfo_url    = "{%U('editInfo',  'User','user')%}?rt=api&id=";
        var editConfig_url  = "{%U('editConfig','User','user')%}?rt=api&id=";
        var editBank_url    = "{%U('editBank',  'User','user')%}?rt=api&id=";
        if(len>0){
            for(var i=0; i<len; i++){
                str += '<tr>'+
                        '<td class="col-cb"><input type="checkbox" class="cbr" name="ids[]" value="'+list[i]['uid']+'"/></td>' +
                        '<td><a class="icon-left" href="javascript:void(0);" onclick="showFormModal(\'{%$LANG.EDIT%}\', \''+edit_url+list[i]['uid']+'\', fillEdit)">'+list[i]['uid']+'</a></td>'+
                        '<td><a class="icon-left" href="javascript:void(0);" onclick="showShowModal(\''+show_url+list[i]['uid']+'\')">'+list[i]['username']+'</a></td>'+
                        '<td>'+list[i]['group_name']+'</td>'+
                        '<td>'+list[i]['parent']+'</td>'+
                        '<td>'+list[i]['user_cash']+'</td>'+
                        '<td>'+list[i]['login_time']+'</td>'+
                        '<td>'+list[i]['status']+'</td>'+
                        '<td>'+
                            '<a class="icon-left" href="javascript:void(0);" onclick="showFormModal(\'{%$LANG.EDIT%}{%$LANG.SAFE%}\', \''+editInfo_url+list[i]['uid']+'\', fillEdit)">{%$LANG.SAFE%}</a> | '+
                            '<a class="icon-left" href="javascript:void(0);" onclick="showFormModal(\'{%$LANG.EDIT%}{%$LANG.CONFIG%}\', \''+editConfig_url+list[i]['uid']+'\', fillEdit)">{%$LANG.CONFIG%}</a> | '+
                            '<a class="icon-left" href="javascript:void(0);" onclick="showFormModal(\'{%$LANG.EDIT%}{%$LANG.BANK%}\', \''+editBank_url+list[i]['uid']+'\', fillEdit)">{%$LANG.BANK%}</a>'+
                        '</td>'+
                        '</tr>';
            }
        }

        $('#table_body').html(str);
    }

    jQuery(document).ready(function($){
        var $state = $("#table_list thead input[type='checkbox'], #table_list tfoot input[type='checkbox']");
        $state.on('change', function(ev){
            var $chcks = $("#table_list tbody input[type='checkbox']");
            if($state.is(':checked')){
                $chcks.prop('checked', true).trigger('change');
            }else{
                $chcks.prop('checked', false).trigger('change');
            }
        });

        main_page(1, true);

        $("form#list-search").validate({
            submitHandler: function(form){
                var data = $(form).serializeArray();
                for(var v in data){
                    gparams[data[v]['name']] = data[v]['value'];

                }
                main_page(1,true);
            }
        });
        $('.sorting').click(function(){
            var sortBy = $(this).attr('data-field');
            var sort = $(this).attr('class').substring(8);
            $('.sorting').attr('class', 'sorting');
            if(sort=='sorting_desc'){
                gparams['sort']  = sortBy+' asc';
                $(this).attr('class', 'sorting sorting_asc');
            }else{
                gparams['sort']  = sortBy+' desc';
                $(this).attr('class', 'sorting sorting_desc');
            }
            main_page(1,true);
        });
    });
</script>
{%include file="public/footer.html"%}