<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="form_uid" name="uid">
        <table class="table table-bordered table-striped">

        </table>
    </div>
</div>
<script type="text/javascript">
    function fillEdit(show_url){
        $("form#form_modal table").html('');
        $.ajax({
            dataType: "json",
            url: show_url,
            success: function(json){
                if(json.status.code === $SCOPES.$status.SUCC){
                    var action_name = 'init_'+json.data.action;
                    window[action_name](json.data.info);
                }else{
                    alert(json.status.msg);
                }

            }
        });
    }


    function init_edit(data){

        var str='<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.USERNAME%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_username" name="username" readonly></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.GROUP_NAME%}</label></td>' +
                    '<td>{%$group_select%}</td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.NICKNAME%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_nickname" name="nickname"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.AVATAR%}</label></td>' +
                    '<td><img src="{%$RIA_URL%}images/user-4.png" alt="user-img" id="form_avatar" class="img-cirlce img-responsive img-thumbnail"/></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.PASSWORD%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_password" name="password"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.TRADER_PASSWORD%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_trader_password" name="trader_password"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.STATUS%}</label></td>' +
                    '<td>{%$status_select%}</td>' +
                '</tr>';
        $("form#form_modal table").html(str);
        for(var v in data){
            if(v=='status' || v=='percent'){
                $('#form_'+v).find('option[value="'+data[v]+'"]').prop("selected",true);
            }else if(v=='avatar'){
                var avatar = !data[v] ? 'user-4.png' : data[v];
                $('#form_avatar').attr('src', '{%$RIA_URL%}images/'+avatar);
            }else{
                $('#form_'+v).val(data[v]);
            }
        }
        $("form#form_modal").attr('action', '{%U('edit', 'User', 'user')%}?rt=api&do=1');
    }

    function init_editInfo(data){
        var str='<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.EMAIL%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_email" name="email"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.QQ%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_qq" name="qq"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.PHONE%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_phone" name="phone"></td>' +
                '</tr>';
        $("form#form_modal table").html(str);
        for(var v in data){
            $('#form_'+v).val(data[v]);
        }
        $("form#form_modal").attr('action', '{%U('editInfo', 'User', 'user')%}?rt=api&do=1');
    }

    function init_editConfig(data){
        var str='<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.PAY_SUB%}</label></td>' +
                    '<td>{%$pay_sub_radio%}</td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.LOOK_CASH%}</label></td>' +
                    '<td>{%$look_cash_radio%}</td>' +
                '</tr>';
        $("form#form_modal table").html(str);
        for(var v in data){
            if(v=='pay_sub' || v=='look_cash'){
                $('#form_'+v).find('input[value="'+data[v]+'"]').prop('checked',true);
            }else{
                $('#form_'+v).val(data[v]);
            }

        }
        $("form#form_modal").attr('action', '{%U('editConfig', 'User', 'user')%}?rt=api&do=1');
    }

    function init_editBank(data){
        $('#form_uid').val(data['uid']);
        var str='<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.BANK_TYPE%}</label></td>' +
                    '<td>{%$banks_select%}</td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.BANK_USER%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_bank_user" name="bank_user"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.BANK_CODE%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_bank_code" name="bank_code"></td>' +
                '</tr>';

        if(data['list']){
            var bank_list = '';
            var delete_url    = "{%U('delete','Bank','user')%}?rt=api&id=";
            for(var v in data['list']){
                bank_list +=    data['list'][v]['bank_type']+' | '+
                                data['list'][v]['bank_user']+' | '+
                                data['list'][v]['bank_code']+' >> '+
                                '<a href="javascript:void(0);" onclick="delete_bank(\''+delete_url+ data['list'][v]['id']+'\')">删除</a><br/>';
            }

            str +=  '<tr>' +
                        '<td><label for="field-2" class="control-label">{%$LANG.BANK_LIST%}</label></td>' +
                        '<td>'+bank_list+'</td>' +
                    '</tr>';
        }


        $("form#form_modal table").html(str);
        $("form#form_modal").attr('action', '{%U('editBank', 'User', 'user')%}?rt=api&do=1');
    }

    function delete_bank(delete_url){
        $.ajax({
            url: delete_url,
            method: 'POST',
            dataType: 'json',
            data: {},
            success: function(resp){
                if(resp.status.code === $SCOPES.$status.SUCC){
                    closeFormModal();
                }else{
                    alert(resp.status.msg);
                }
            }
        });
    }



    function fillAdd(){
        $('#form_uid').val('');
        var str='<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.USERNAME%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_username" name="username"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.GROUP_NAME%}</label></td>' +
                    '<td>{%$group_select%}</td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.NICKNAME%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_nickname" name="nickname"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.PASSWORD%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_password" name="password"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.TRADER_PASSWORD%}</label></td>' +
                    '<td><input type="text" class="form-control" id="form_trader_password" name="trader_password"></td>' +
                '</tr>' +
                '<tr>' +
                    '<td><label for="field-2" class="control-label">{%$LANG.STATUS%}</label></td>' +
                    '<td>{%$status_select%}</td>' +
                '</tr>';
        $("form#form_modal table").html(str);
        $("form#form_modal").attr('action', '{%U('add', 'User', 'user')%}?rt=api&do=1');
    }

    $(document).ready(function($){
        $("form#form_modal").validate({
            submitHandler: function(form){
                var data = $(form).serializeArray();
                var form_action = $(form).attr('action');
                $.ajax({
                    url: form_action,
                    method: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function(resp){
                        if(resp.status.code === $SCOPES.$status.SUCC){
                            closeFormModal();
                            if(resp.data.is_reload)
                                main_page(gparams['page'],true);
                        }else{
                            alert(resp.status.msg);
                        }
                    }
                });
            }
        });

    });

</script>