{%assign var="jses" value=['bootstrap-paginator.min','jquery.query']%}
{%assign var="modal_body" value='lottery/gtype_edit.html'%}
{%assign var="modals" value=['show','confirm','form']%}
{%include file="public/header.html"%}
{%include file="public/left.html"%}
{%include file="public/page_title.html"%}
<link rel="stylesheet" href="{%$RIA_URL%}js/datatables/dataTables.bootstrap.css">
<div class="row">
    <div class="col-sm-12 panel">
        <div class="panel-body">
            <form role="form" method="post" id="list-search" class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{%$LANG.GTYPE_NAME%}" name="search[gtype_name]">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-purple">{%$LANG.SEARCH%}</button>
                </div>
                <div class="input-group" style="float: right;">
                    <button type="button" class="btn btn-secondary" onclick="showFormModal('{%$LANG.ADD%}', {}, fillAdd)"><i class="fa-plus"></i> {%$LANG.ADD%}</button>
                    <button type="button" class="btn btn-warning" onclick="publish()">{%$LANG.PUBLISH%}</button>
                </div>
            </form>

        </div>
        <div class="panel-body dataTables_wrapper">
            <table class="table table-bordered table-striped dataTable" id="table_list">
                <thead>
                <tr>
                    <th class="sorting sorting_desc" data-field="id" style="width: 40px;">{%$LANG.ID%}</th>
                    <th>{%$LANG.GTYPE_NAME%}</th>
                    <th>{%$LANG.GTYPE_CODE%}</th>
                    <th>{%$LANG.BONUS%}</th>
                    <th>{%$LANG.BONUS_STEP%}</th>
                    <th>{%$LANG.STATUS%}</th>
                    <th>{%$LANG.ACTIONS%}</th>
                </tr>
                </thead>
                <tbody class="middle-align" id="table_body">

                </tbody>
            </table>
            <div class="row"><div class="col-xs-12"><ul id="pages"></ul></div></div>
        </div>
    </div>
</div>
{%include file="public/list_js.html"%}
<script>
    function show_list(list){
        var str = '';
        var len = list.length;
        var show_url    = "{%U('show')%}?rt=api&id=";
        var edit_url    = "{%U('edit')%}?rt=api&id=";
        if(len>0){
            for(var i=0; i<len; i++){
                str += '<tr>'+
                        '<td>'+list[i]['id']+'</td>'+
                        '<td><a class="icon-left" href="javascript:void(0);" onclick="showShowModal(\''+show_url+list[i]['id']+'\')">'+list[i]['gtype_name']+'</a></td>'+
                        '<td>'+list[i]['gtype_code']+'</td>'+
                        '<td>'+list[i]['bonus']+'</td>'+
                        '<td>'+list[i]['bonus_step']+'</td>'+
                        '<td>'+list[i]['status']+'</td>'+
                        '<td>'+
                        '<a class="btn btn-secondary btn-sm btn-icon icon-left" style="margin-top: -7px;" href="javascript:void(0);" onclick="showFormModal(\'{%$LANG.EDIT%}\', \''+edit_url+list[i]['id']+'\', fillEdit)"><i class="fa-edit"></i></a>'+
                        '</td>'+
                        '</tr>';
            }
        }

        $('#table_body').html(str);
    }
    function publish(){
        $.ajax({
            url: "{%U('publish')%}?rt=api",
            method: 'GET',
            dataType: 'json',
            success: function(resp){
                alert('{%$LANG.PUBLISH%}'+resp.status.msg);
            }
        });
    }
</script>
{%include file="public/footer.html"%}