{%assign var="jses" value=['bootstrap-paginator.min','jquery.query']%}
{%assign var="modal_body" value='lottery/edit.html'%}
{%assign var="modals" value=['show','confirm','form']%}
{%include file="public/header.html"%}
{%include file="public/left.html"%}
{%include file="public/page_title.html"%}
<link rel="stylesheet" href="{%$RIA_URL%}js/datatables/dataTables.bootstrap.css">
<div class="row">
    <div class="col-md-12">
        <div class="tabs-vertical-env">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="col-sm-12">
                        <div class="panel-body" style="padding: 0;">
                            <div class="input-group" style="float: right;">
                                <button type="button" class="btn btn-secondary" onclick="showFormModal('{%$LANG.ADD%}', {}, fillAdd)"><i class="fa-plus"></i> {%$LANG.ADD%}</button>
                                <button type="button" class="btn btn-warning" onclick="publish()">{%$LANG.PUBLISH%}</button>
                            </div>
                        </div>
                        <div class="panel-body dataTables_wrapper" style="padding: 0;">
                            <table class="table table-bordered table-striped dataTable" id="table_list">
                                <thead>
                                <tr>
                                    <th>{%$LANG.ID%}</th>
                                    <th>{%$LANG.NAME%}</th>
                                    <th>{%$LANG.LTYPE_NAME%}</th>
                                    <th>{%$LANG.BONUS%}</th>
                                    <th>{%$LANG.CODE_POS%}</th>
                                    <th class="sorting sorting_asc" data-field="sort_order" style="width: 40px;">{%$LANG.SORT_ORDER%}</th>
                                    <th>{%$LANG.STATUS%}</th>
                                    <th>{%$LANG.ACTIONS%}</th>
                                </tr>
                                </thead>
                                <tbody class="middle-align" id="table_body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav tabs-vertical">
                {%foreach item=vo key=k from=$ltypes name=ltypes%}
                {%if $vo.id != $configs['ltype']['id']%}
                    <li><a href="#{%$vo.ltype_code%}" data-toggle="tab" onclick="change_ltype('{%$vo.id%}')">{%$vo.ltype_name%} {%$vo.type_lo%}</a></li>
                {%else%}
                    <li class="active"><a href="#{%$vo.ltype_code%}" data-toggle="tab" onclick="change_ltype('{%$vo.id%}')">{%$vo.ltype_name%} {%$vo.type_lo%}</a></li>
                {%/if%}
                {%/foreach%}
            </ul>
        </div>
    </div>
</div>
<script>
    var gparams = {%$params|json_encode%};
    var page_configs = {%$configs|json_encode%};
    var ltypes = {%$ltypes|json_encode%};

    function change_ltype(id){
        page_configs.ltype = ltypes[id];
        gparams['search']['ltype_id'] = id;
        main_page();
    }

    jQuery(document).ready(function($){
        main_page();
        $('.sorting').click(function(){
            var sortBy = $(this).attr('data-field');
            var sort = $(this).attr('class').substring(8);
            $('.sorting').attr('class', 'sorting');
            if(sort=='sorting_desc'){
                gparams['sort']  = sortBy+' asc';
                $(this).attr('class', 'sorting sorting_asc');
            }else{
                gparams['sort']  = sortBy+' desc';
                $(this).attr('class', 'sorting sorting_desc');
            }
            main_page();
        });
    });


    function main_page(){
        var params = gparams;
        params['rt']    = 'api';
        params['do']    = 1;

        var url = '{%$__URI__%}'+$.query.sets(params).toString();

        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'json',
            success: function(resp){
                if(resp.status.code === $SCOPES.$status.SUCC){
                    show_list(resp.data.list);
                }
            }
        });
    }

    function show_list(list){
        var str = '';
        var len = list.length;
        var show_url    = "{%U('show')%}?rt=api&id=";
        var edit_url    = "{%U('edit')%}?rt=api&id=";
        if(len>0){
            for(var i=0; i<len; i++){
                str += '<tr>'+
                        '<td>'+list[i]['id']+'</td>'+
                        '<td><a class="icon-left" href="javascript:void(0);" onclick="showShowModal(\''+show_url+list[i]['id']+'\')">'+list[i]['name']+'</a></td>'+
                        '<td>'+list[i]['ltype_name']+'</td>'+
                        '<td>'+list[i]['bonus']+'</td>'+
                        '<td>'+list[i]['code_pos']+'</td>'+
                        '<td>'+list[i]['sort_order']+'</td>'+
                        '<td>'+list[i]['status']+'</td>'+
                        '<td>'+
                        '<a class="btn btn-secondary btn-sm btn-icon icon-left" style="margin-top: -7px;" href="javascript:void(0);" onclick="showFormModal(\'{%$LANG.EDIT%}\', \''+edit_url+list[i]['id']+'\', fillEdit)"><i class="fa-edit"></i></a>'+
                        '</td>'+
                        '</tr>';
            }
        }

        $('#table_body').html(str);
    }
    function publish(){
        $.ajax({
            url: "{%U('publish')%}?rt=api",
            method: 'GET',
            dataType: 'json',
            success: function(resp){
                alert('{%$LANG.PUBLISH%}'+resp.status.msg);
            }
        });
    }
</script>
{%include file="public/footer.html"%}