<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="form_id" name="id">
        <table class="table table-bordered table-striped">
            <table class="table table-bordered table-striped">
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.TYPE_LO%}</label></td>
                    <td>
                        {%$type_lo_select%}
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.CODE_LEN%}</label></td>
                    <td>
                        {%$code_len_select%}
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.LTYPE_NAME%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_ltype_name" name="ltype_name">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.LTYPE_CODE%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_ltype_code" name="ltype_code">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.SORT_ORDER%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_sort_order" name="sort_order">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.STATUS%}</label></td>
                    <td>
                        {%$status_select%}
                    </td>
                </tr>
            </table>
        </table>
    </div>
</div>
<script type="text/javascript">
    function fillEdit(show_url){
        $.ajax({
            dataType: "json",
            url: show_url,
            success: function(json){
                if(json.status.code === $SCOPES.$status.SUCC){
                    for(var v in json.data){
                        if(v=='status' || v=='type_lo'){
                            $('#form_'+v).find('option[value="'+json.data[v]+'"]').prop("selected",true);
                        }else{
                            $('#form_'+v).val(json.data[v]);
                        }
                    }
                }else{
                    alert(json.status.msg);
                }

            }
        });
        $("form#form_modal").attr('action', '{%U('edit')%}?rt=api&do=1');
    }
    function fillAdd(data){
        $("form#form_modal").each(function(i,option){
            option.reset();
        });
        $('#form_id').val('');
        $("form#form_modal").attr('action', '{%U('add')%}?rt=api&do=1');
    }

    $(document).ready(function($){
        $("form#form_modal").validate({
            rules: {
                name: {
                    required: true
                },
                code: {
                    required: true
                }
            },

            messages: {
                name: {
                    required: '{%$LANG.ENTER_MSG%}{%$LANG.LTYPE_NAME%}.'
                },
                code: {
                    required: '{%$LANG.ENTER_MSG%}{%$LANG.LTYPE_CODE%}.'
                }
            },
            submitHandler: function(form){
                var data = $(form).serializeArray();
                var form_action = $(form).attr('action');
                $.ajax({
                    url: form_action,
                    method: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function(resp){
                        if(resp.status.code === $SCOPES.$status.SUCC){
                            closeFormModal();
                            main_page(gparams['page'],true);
                        }else{
                            alert(resp.status.msg);
                        }
                    }
                });
            }
        });

    });

</script>