<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{%$head.description%}" />
    <meta name="keywords"    content="{%$head.keyword%}" />
    <title>{%$head.title%}</title>
    <link rel="stylesheet" href="{%$RIA_URL%}css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="{%$RIA_URL%}css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%$RIA_URL%}css/bootstrap.css">
    <link rel="stylesheet" href="{%$RIA_URL%}css/xenon-core.css">
    <link rel="stylesheet" href="{%$RIA_URL%}css/xenon-forms.css">
    <link rel="stylesheet" href="{%$RIA_URL%}css/xenon-components.css">
    <link rel="stylesheet" href="{%$RIA_URL%}css/xenon-skins.css">
    <link rel="stylesheet" href="{%$RIA_URL%}css/custom.css">
    <script> var $SCOPES = {%$scopes|json_encode%} </script>
</head>
<body class="page-body login-page login-light">


<div class="login-container">

    <div class="row">

        <div class="col-sm-6" style="">
            <!-- Errors container -->
            <div class="errors-container"></div>

            <!-- Add class "fade-in-effect" for login form effect -->
            <form method="post" role="form" id="login" class="login-form fade-in-effect">

                <div class="login-header">
                    <a href="javascript:void(0);" class="logo">
                        <span>{%$LANG.LOGIN%}</span>
                    </a>
                </div>


                <div class="form-group">
                    <label class="control-label" for="username">{%$LANG.USERNAME%}</label>
                    <input type="text" class="form-control" name="username" id="username" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">{%$LANG.PASSWORD%}</label>
                    <input type="password" class="form-control" name="password" id="password" autocomplete="off" />
                </div>
                <div class="form-group">
                    <div class="checkbox" style="margin-left: 20px;">
                        <input type="checkbox" name="remember_me" value="1">
                        {%$LANG.REMEMBER_ME%}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary  btn-block text-left">
                        <i class="fa-lock"></i>
                        {%$LANG.LOGIN%}
                    </button>
                </div>

            </form>
            <!-- External login -->
        </div>

    </div>

</div>

<!-- Bottom Scripts -->
<script src="{%$RIA_URL%}js/jquery-1.11.1.min.js"></script>
<script src="{%$RIA_URL%}js/bootstrap.min.js"></script>
<script src="{%$RIA_URL%}js/TweenMax.min.js"></script>
<script src="{%$RIA_URL%}js/resizeable.js"></script>
<script src="{%$RIA_URL%}js/joinable.js"></script>
<script src="{%$RIA_URL%}js/xenon-api.js"></script>
<script src="{%$RIA_URL%}js/xenon-toggles.js"></script>
<script src="{%$RIA_URL%}js/jquery-validate/jquery.validate.min.js"></script>
<script src="{%$RIA_URL%}js/toastr/toastr.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="{%$RIA_URL%}js/xenon-custom.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($){
        // Reveal Login form
        setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


        // Validation and Ajax action
        $("form#login").validate({
            rules: {
                username: {
                    required: true
                },

                password: {
                    required: true
                }
            },

            messages: {
                username: {
                    required: 'Please enter your username.'
                },

                password: {
                    required: 'Please enter your password.'
                }
            },

            // Form Processing via AJAX
            submitHandler: function(form){
                show_loading_bar(70); // Fill progress bar to 70% (just a given value)

                var opts = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-full-width",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                var data = $(form).serializeArray();

                $.ajax({
                    url: "{%U('do_login', 'Login', 'admin')%}",
                    method: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function(resp){
                        show_loading_bar({
                            delay: .5,
                            pct: 100,
                            finish: function(){
                                // Redirect after successful login page (when progress bar reaches 100%)
                                if(resp.status.code === $SCOPES.$status.SUCC){
                                    window.location.href = "{%U('index', 'Main', 'admin')%}";
                                }
                            }
                        });


                        // Remove any alert
                        $(".errors-container .alert").slideUp('fast');


                        // Show errors
                        if(resp.status.code !== $SCOPES.$status.SUCC){
                            $(".errors-container").html('<div class="alert alert-danger">\
												<button type="button" class="close" data-dismiss="alert">\
													<span aria-hidden="true">&times;</span>\
													<span class="sr-only">Close</span>\
												</button>\
												' + resp.status.msg + '\
											</div>');


                            $(".errors-container .alert").hide().slideDown();
                            $(form).find('#password').select();
                        }
                    }
                });

            }
        });

        // Set Form focus
        $("form#login .form-group:has(.form-control):first .form-control").focus();
    });
</script>


</body>
</html>