<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="form_id" name="id">
        <table class="table table-bordered table-striped">
            <table class="table table-bordered table-striped">
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.NAME%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_name" name="name">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.PARENT%}</label></td>
                    <td>
                        {%$form_select%}
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.MODULE%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_module" name="module">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.CONTROLLER%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_controller" name="controller">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.ACTION%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_action" name="action">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.ICON%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_icon" name="icon">
                    </td>
                </tr>
                <tr>
                    <td><label for="field-2" class="control-label">{%$LANG.LISTORDER%}</label></td>
                    <td>
                        <input type="text" class="form-control" id="form_listorder" name="listorder">
                    </td>
                </tr>
            </table>
        </table>
    </div>
</div>
<script type="text/javascript">
    function fillEdit(show_url){
        $.ajax({
            dataType: "json",
            url: show_url,
            success: function(json){
                if(json.status.code === $SCOPES.$status.SUCC){
                    for(var v in json.data){
                        if(v == 'pid'){
                            $('#form_'+v).find('option[value="'+json.data[v]+'"]').prop("selected",true);
                        }else{
                            $('#form_'+v).val(json.data[v]);
                        }
                    }
                }else{
                    alert(json.status.msg);
                }

            }
        });
        $("form#form_modal").attr('action', '{%U('edit', 'Menu', 'admin')%}?rt=api&do=1');
    }
    function fillAdd(pid){
        $("form#form_modal").each(function(i,option){
            option.reset();
        });
        $('#form_id').val('');
        $('#form_pid').find('option[value="'+pid+'"]').prop("selected",true);
        $("form#form_modal").attr('action', '{%U('add', 'Menu', 'admin')%}?rt=api&do=1');
    }

    $(document).ready(function($){
        $("form#form_modal").validate({
            rules: {
                name: {
                    required: true
                },
                form_module: {
                    required: true
                },
                controller: {
                    required: true
                },
                action: {
                    required: true
                }
            },

            messages: {
                name: {
                    required: '{%$LANG.ENTER_MSG%}{%$LANG.NAME%}.'
                },
                module: {
                    required: '{%$LANG.ENTER_MSG%}{%$LANG.MODULE%}.'
                },
                controller: {
                    required: '{%$LANG.ENTER_MSG%}{%$LANG.CONTROLLER%}.'
                },
                action: {
                    required: '{%$LANG.ENTER_MSG%}{%$LANG.ACTION%}.'
                }
            },
            submitHandler: function(form){
                var data = $(form).serializeArray();
                var form_action = $(form).attr('action');
                $.ajax({
                    url: form_action,
                    method: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function(resp){
                        if(resp.status.code === $SCOPES.$status.SUCC){
                            closeFormModal();
                            window.location.reload();
                        }
                    }
                });
            }
        });

    });

</script>